{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Invoice</title>
</head>
<body>
    <h2>Hello, {{ user.username }}</h2>
    <p>Thank you for your purchase! Here is your order summary:</p>
    <h3>Order Details:</h3>
    <ul>
        {% for item in cart_items %}
            <li>{{ item.product.name }} - Quantity: {{ item.quantity }} - Price: ₹{{ item.total_price }}</li>
        {% endfor %}
    </ul>
    <h3>Total Price: ₹{{ total_price }}</h3>
    <p>Email: {{ order.user.email }}</p>
    <p>Shipping Address: {{ order.address }}</p>
    <p>Date: {{ order.created_at|date:"d M Y" }}</p>
    <p>We hope you enjoy your purchase. If you have any questions, please contact us. support@medion.com</p>
    <p>Best Regards,<br>MEDMART Team</p>
</body>
</html>
