* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #10e7f4;
    color: #131010;
}



/* Categories Section */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.category {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.category img {
    max-width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* button */
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #10e7f4;
}

.button1:hover {
  background-color: #10e7f4;
  color: white;
}

.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #0d0101;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #010901;
    color: white;

}